:root {
  --main-home: #072628;
  --secondary-home: #7ACED9;
}

.App {
  text-align: center;
}

.navbar {
  background-color: var(--main-home);
}

.navbar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  margin: 40px;
}

.nav-logo h2 {
  color: var(--secondary-home);
  font-size: 18px;
  margin: 0;
}

.nav-menu {
  margin-right: 20px;
}

.nav-menu img {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  cursor: pointer;
}

.home-main {
  background-color: var(--main-home);
  height: 100%;
  padding: 100px 0px;
}

.hero-banner {
  width: 100%;
  display: flex;
  justify-content: center;
}

.hero-image {
  width: 30%;
}

.home-title {
  width: 70%;
}

.home-title h2 {
  font-size: 46px;
  color: var(--secondary-home);
}

.home-title p {
  color: var(--secondary-home);
}